.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#themeToggle {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}
.swap-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.copy-btn {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
}
